@import 'styles/_shared.scss';


.review-form--page {
    // background-color: $palest-grey;
    height: 100vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10000;
}

.review-form--container {
    width: 450px;
    height: 100%;
    padding: 30px;
    background-color: white;
    box-shadow: $box-shadow;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: content-box;

    h2 {
        text-align: center;
        width: 100%;
        font-size: 38px;
        margin-bottom: 40px;
        font-weight: 700;
        color: $darker-grey;
    }
}