/*
==========================
COLORS
==========================
*/
$darkest-grey: #252525;
$darker-grey: #4f4f4f;
$dark-grey: #7f7f7f;
$med-grey: rgb(158, 158, 158);
$grey: #adadad;
$lighter-grey: #d9d9d9;
$light-grey: #e6e6e6;
$pale-grey: #efefef;
$palest-grey: #f8f8f8;

$blue: #3C81DB;
$blue-hover: rgb(52, 119, 207);
$blue-dark: rgb(33, 96, 179);
$blue-medium: #6DA4EB;
$blue-light: #88CFFF;
$blue-palest: #f3f7fc;

$purple: rgb(65, 33, 179);

$attention-red: #f37070;
$attention-red--light: #efb0b0;

$theme-color: $blue;
$theme-color--hover: $blue-hover;
$theme-color--background: $blue-palest;

$theme-green: #15cf89;
$theme-green--hover: rgb(25, 194, 129);
$theme-green--dark: #14b175;
$theme-green--light: #78d5b2;
$theme-green--lighter: rgb(189, 221, 208);

$general: #1BDDC6;
$general--hover: rgb(24, 207, 186);
$medical: #D243D6;
$medical--hover: rgb(194, 52, 199);
$schools: #FFC200;
$schools--hover: rgb(226, 173, 0);
$bathrooms: #4E4EF9;
$bathrooms--hover: rgb(69, 69, 236);


$box-shadow: 0px 3px 6px $light-grey;
$box-shadow-dark: 0px 3px 6px $dark-grey;
$box-shadow-blue: 0px 3px 6px $blue;

/*
==========================
SIZING & STYLING
==========================
*/
$max-width: 1180px;
$button-border-radius: 6px;
$border-radius: 6px;

@mixin section-title {
    font-size: 20px;
    color: $dark-grey;
    margin-bottom: 10px;
}

/*
==========================
Z-INDEXES
==========================
*/
$z-modal: 400;
$z-dropdown: 200;
$z-header: 14;
$z-middle: 10;
$z-default: 1;
$z-below: -1;

/*
==========================
MAIN BUTTONS
==========================
*/
@mixin system-button($background, $hover) {
  color: white;
  border: 1px solid $background;
  font-size: 14px;
  background-color: $background;
  border-radius: $border-radius;
  padding: 8px 0px;
  text-align: center;
  display: block;
  cursor: pointer;
  &:hover {
    background-color: $hover;
  }
}

@mixin system-button--sub($color, $hover) {
  color: $hover;
  border: 1px solid $color;
  font-size: 14px;
  background-color: white;
  border-radius: $border-radius;
  padding: 8px 0px;
  text-align: center;
  display: block;
  cursor: pointer;
  &:hover {
    color: $hover;
    border: 1px solid $hover;
  }
}

/*
==========================
FORMS
==========================
*/
@mixin form-label {
  color: $light-grey;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
}

@mixin form-input {
  border: 1px solid $light-grey;
  padding: 5px;
  color: $dark-grey;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

@mixin form-title {
  font-size: 40px;
  color: $grey;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
}

@mixin hline {
  width: calc(100% + 40px);
  margin-left: -20px;
  border-top: 1px solid $pale-grey;
  margin-top: 20px;
}
