@import 'styles/_shared.scss';

.map-layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .leaflet-container {
        height: 100%;
        width: 100%;
        margin: 0 auto;

        transition: 0.6s ease all;
    }

    @keyframes enter-sidebar {
        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    .topbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #f2f2f2;
        z-index: 10000;
        padding: 8px;
        margin: 0 auto;
        max-width: 400px;
        border-radius: 0 0 8px 8px;
        box-shadow: $box-shadow;
        transition: 0.6s ease all;

        .search {
            width: 100%;
            display: flex;
            justify-content: stretch;
        }

        input {
            height: 32px;
            border: none;
            outline: none;
            padding: 0 8px;
            flex-grow: 1;
            margin-right: 8px;
            border-radius: 8px;
        }

        button {
            border-radius: 8px;
            outline: none;
            border: none;
            background: #333;
            color: white;
            padding: 0 12px;
            height: 32px;
            line-height: 32px;
            vertical-align: center;
            text-align: center;
            transition: 0.2s ease all;
            cursor: pointer;

            &:hover {
                background: $attention-red;
            }
        }

        .categories {
            margin-top: 16px;
            display: flex;
            justify-content: space-evenly;

            div {
                background: $blue;
                padding: 8px 12px;
                border-radius: 8px;
                transition: 0.2s ease all;
                cursor: pointer;
                color: white;

                &.active {
                    border: 2px solid black;
                    height: 32px;
                    padding: 6px 12px;
                    box-sizing: border-box;
                }
            }

            .all {
                background-color: $general;
                &:hover {
                    background-color: $general--hover;
                }
            }
            .schools {
                background-color: $schools;
                &:hover {
                    background-color: $schools--hover;
                }
            }
            .medical {
                background-color: $medical;
                &:hover {
                    background-color: $medical--hover;
                }
            }
            .bathrooms {
                background-color: $bathrooms;
                &:hover {
                    background-color: $bathrooms--hover;
                }
            }
        }

        &.show {
            right: 30vw;
        }
    }

    .sidebar {
        background: white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 30vw;
        min-width: 300px;
        z-index: 10000;
        padding: 20px;
        box-sizing: border-box;
        transition: 0.6s ease all;

        &.show {
            transform: translateX(0%);
            opacity: 1;
        }
        transform: translateX(100%);
        opacity: 0;
    }

    @media (max-width: 900px) {
        .sidebar {
            top: 55vh;
            width: 100vw;
            height: 45vh;
            overflow-y: scroll;

            &.show {
                transform: translateY(0%);
            }
            transform: translateY(100%);
        }

        &.show .leaflet-container {
            height: 55%;
            width: 100%;
            margin: 0 auto;
        }

        &.show .topbar {
            right: 0;
        }

        .review-form--page {
            z-index: 100000;
            height: 100%;
            width: 100%;
        }
    }

    .tooltip {
        text-align: center;
        font-weight: 600;
        color: $darker-grey;
        font-size: 12px;
        
        .tooltip-icons {
            margin-top: 4px;
            display: flex;
            justify-content: center; 
        }
    }

    .tooltip-render {
        display: block;
        z-index: 10000;
        background: black;
        width: 100px;
        height: 100px;
    }

    .sidebar-icons {
        margin-top: 4px;
        display: flex;
        justify-content: center;
        span {
            display: block;
            background: red;
            width: 32px;
            height: 32px;
            margin-left: 8px;
            border-radius: 100%;
            margin-bottom: 64px;
            line-height: 18px;
            vertical-align: middle;
            text-align: center;

            &:first-child {
                margin: 0;
            }

            &.trans {
                background: url("https://upload.wikimedia.org/wikipedia/commons/b/b0/Transgender_Pride_flag.svg");
            }

            &:before {
                content: '';
                display: block;
                color: black;
                width: 32px;
                height: 24px;
                margin-top: 42px;
            }

            &.yes::before {
                content: "y"
            }

            &.no::before {
                content: "n"
            }

            &.unsure::before {
                content: "-"
            }
        }
    }
}
