@import 'styles/_shared.scss';

@keyframes enter-card {
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.login-page {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom right, $blue, $purple);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;

    h2 {
        text-align: center;
        width: 100%;
        font-size: 38px;
        margin-bottom: 40px;
        font-weight: 700;
        color: $darker-grey;
    }
}

.logo {
    z-index: 10;
    width: 450px;
    height: auto;
    object-fit: contain;
    margin-left: -50px;
}

.login-container {
    background-color: white;
    width: 400px;
    box-shadow: $box-shadow-blue;
    padding: 32px;

    border-radius: 4px;
    animation: enter-card .6s ease forwards;
    transform: translateY(20%);
    opacity: 0;

    p.error {
        padding: 8px;
        border-radius: 4px;
        text-align: center;
        background: $attention-red;
        color: white;
        margin-top: 16px;
    }

    p.signup-msg {
        color: $dark-grey;
        text-align: center;
        margin-top: 36px;

        a {
            color: $blue;
            text-decoration: none;
            font-weight: 600;
            padding-top: 20px;
        }
    }

}

@media (max-width: 600px)  {
    .login-container {
        margin: 0 auto;
        width: 70vw;
        padding: 16px;
        box-shadow: none;
    }

    .login-page {
        box-sizing: border-box;
        background-color: white;
        flex-direction: column;
        padding: 40px;
        // padding-bottom: 300px;
        height: auto;
        overflow: scroll;
    }

    .logo {
        margin: 0px;
        width: 100px;
        display: block;
    }
}
